node_modules/
public/js
public/libs/*
!public/libs/.gitkeep

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

*.*~

.cpcache
.rebel_readline_history

.hgignore
.hg/